--extra-index-url https://download.pytorch.org/whl/cpu

# Framework principal
streamlit

# Detección de presencia (YOLOv8) y veneno (Keras/TF)
ultralytics
tensorflow-cpu

# Motor de deep learning de especies (EfficientNet)
torch==2.3.1
torchvision==0.18.1

# Preprocesamiento de imágenes
albumentations==1.4.10
opencv-python-headless==4.10.0.84
Pillow

# Manejo de datos y utilidades
numpy==1.26.4
pandas==2.2.2
